body
     {
        font-family: 'Open Sans', sans-serif;
        margin: 0%;
        padding: 0%;
    }
h1
{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
.color-org
    {
        color: orange;
    }
.flex
    {
        display: flex;
        margin-bottom: 150px;
    }
.half-width
{
    width: 50%;
    padding-left: 5%;
}
.half-width img
{
    width: 80%  ;
}
.link-button
    {
        text-decoration: none;
        background-color: orange;
        padding: 10px 30px;
        border-radius: 20px;
        background-image: linear-gradient(red, orange);
        color: white;
        font-weight: 700;
    }
.top-banner
{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}  
.dream-big
{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.expe-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 280px;
}
#expe-item
    {
        border-left: 7px solid;
        border-image: linear-gradient(rgb(255, 0, 0), rgba(255, 0, 212, 0.548)) 10;
        width: 50%;
        height: 300px;
        padding: 10px 0px 70px 30px;
        box-shadow: 8px 8px 40px gray;
        margin: 30px 30px 20px 60px;
    }
#expe-item1
    {
        border-left: 7px solid;
        border-image: linear-gradient(rgb(0, 140, 255), rgb(0, 238, 255)) 1;
        width: 50%;
        height: 300px;
        padding: 10px 0px 70px 30px;
        box-shadow: 8px 8px 40px gray;
        margin: 30px 60px 20px 30px;
    }
footer p
{
    text-align: center;
}